body {
  margin: 0px;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
}
.navbar ul {
  list-style-type: none;
  background-color: hsl(0, 0%, 20%);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.navbar a {
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 15px;
  float: left;
}
.navbar a:hover {
  background-color: hsl(0, 0%, 10%);
}
