h1 {
  border-width: 5px;
  border-style: solid;
  border-color: hsl(300, 64%, 54%);
  border-radius: 20px;

  /* We can put width, style and color in one code.*/
  border: 5px solid hsl(300, 64%, 54%);
  /* Border radius should still be in a separate code. */
  border-radius: 20px;
}

p {
  border-top: 8px solid green;
  border-right: 8px solid blue;
  border-bottom: 8px dotted purple;
  border-left: 8px dashed orange;
}
