@font-face {
  font-family: "Poppins-Light";
  src: url(fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-Bold";
  src: url(fonts/Poppins-Bold.ttf);
}

h1 {
  font-size: 2em;
  font-family: "Poppins-Bold";
}

p {
  font-size: 1.5em;
  font-family: "Poppins-Light";
}
